<h1>Cursos</h1>

<div class="mb-5">
    <button [disabled]="!(isAdmin$ | async)" (click)="onCreateCourse()" mat-raised-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Añadir Curso
    </button>
</div>

<div *ngIf="isLoading$ | async; else notLoadingTemplate">Esta Cargando...</div>

<ng-template #notLoadingTemplate>
    <app-courses-table [dataSource]="(courses|async) || []" 
    (deleteCourse)="onDeleteCourse($event)" 
    (editCourse)="onEditCourse($event)"
    ></app-courses-table>
</ng-template>
