<h1>Bienvenido a mi proyecto de Angular</h1>
<h2>Gracias por todo lo enseñado!</h2>

<div class="grid">
    <div class="col-12">
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            Cursos<mat-icon>book</mat-icon>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p style="font-size: 2rem;">3</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            Estudiantes<mat-icon>face</mat-icon>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p style="font-size: 2rem;">5</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-6">
      <mat-card>

        <mat-card-header>
          <mat-card-title>
            Inscripciones<mat-icon>grade</mat-icon>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <p style="font-size: 2rem;">6</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>