<button routerLink=".." mat-icon-button class="mb-3">
  <mat-icon>arrow_back</mat-icon>
</button>

<h1>Detalle del curso: {{courseName$ | async}}</h1>
<h2>Alumnos Inscriptos:</h2>

<table mat-table [dataSource]="students" class="border border-light-subtle mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef><span appResaltado>ID</span></th>
      <td mat-cell *matCellDef="let students"> {{students.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef><span appResaltado>Nombre</span></th>
        <td mat-cell *matCellDef="let students"> {{students.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef><span appResaltado>Apellido</span></th>
      <td mat-cell *matCellDef="let students"> {{students.surname}} </td>
  </ng-container>
    
    <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef><span appResaltado>Turno</span></th>
        <td mat-cell *matCellDef="let students"> {{students.turno}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
