h1{
    padding: 2rem;
    margin-left: 3rem;
    font-size: 3rem;
}
form{
    padding: 2rem;
    margin-left: 2rem;

    .form-input{
        width: 50rem;
    }
    button{
        margin-top: 3rem;
        padding: 2rem;
        font-size: 2rem;
    }
}