<h1>Alumnos</h1>

<div class="mb-5">
    <button (click)="onCreateStudent()" mat-raised-button color="primary" type="button">
        <mat-icon>add</mat-icon>
        Añadir Alumno
    </button>
</div>

<div *ngIf="isLoading$ | async; else notLoadingTemplate">Esta Cargando...</div>

<ng-template #notLoadingTemplate>
    <app-students-table [dataSource]="(students|async) || []" 
    (deleteStudent)="onDeleteStudent($event)" 
    (editStudent)="onEditStudent($event)"
    ></app-students-table>
</ng-template>

    
